<!--
 * File name      : bottom_nav.ejs
 * Student’s Name : Renzo Navarro
 * StudentID      : 301183749
 * Date           : 10/21/2021
-->

<!-- Bottom nav common for all views-->
<footer>
  <nav class="navbar fixed-bottom navbar-dark bg-dark">
    <h6 class="display-6 navbar-text">&copy; 2021. All Rights reserved</h6>
  </nav>
</footer>