<!--
 * File name      : footer.ejs
 * Student’s Name : Renzo Navarro
 * StudentID      : 301183749
 * Date           : 10/21/2021
-->

<!-- Script section that goes on the bottom and is common to all views-->
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/Scripts/app.js"></script>
<!-- Scripts for additional libraries -->
  <script src="/aos/dist/aos.js"></script>
  <script> AOS.init(); </script>
</body>
</html>