<!--
 * File name      : socialNetworksButtons.ejs
 * Student’s Name : Renzo Navarro
 * StudentID      : 301183749
 * Date           : 10/21/2021
-->

<!-- Button used in about view. The structure is the same for each of the for buttons, then code can be reused -->
<% socialNetworksData.forEach(sn => { %>
<li
  class="mx-3"
  data-toggle="tooltip"
  data-placement="bottom"
  title="<%= sn.title %>"
>
  <a href="<%= sn.href %>" class="icon-link" target="blank_">
    <i class="fab <%= sn.iconName %> fa-sm"></i>
  </a>
</li>
<% }) %>
