<!-- Button used in about view. The structure is the same for each of the for buttons, then code can be reused -->
<% socialNetworksData.forEach(sn => { %>
<li
  class="mx-3"
  data-toggle="tooltip"
  data-placement="bottom"
  title="<%= sn.title %>"
>
  <a href="<%= sn.href %>" class="icon-link" target="blank_">
    <i class="fab <%= sn.iconName %> fa-sm"></i>
  </a>
</li>
<% }) %>
