<div id="about-subcontainer">
  <div class="about-details" data-aos="fade-down" data-aos-delay="300">
    <div class="profile-img">
      <img src="images/about.png" alt="developer-photo" />
    </div>
    <div id="who-am-i">Who am I?</div>
    <p>
      Hi, I'm Renzo, a telco engineer and a self-taught developer.
      <br />
      I have a strong sense of responsibility and a deep desire to continue
      learning about new web & mobile technologies.
    </p>
    <div class="social-media">
      <ul class="nav-list">
        <li>
          <a
            href="https://github.com/renzo-c"
            class="icon-link"
            target="blank_"
          >
            <i class="fab fa-github-square"></i>
          </a>
        </li>
        <li>
          <a
            href="https://www.linkedin.com/in/renzo-navarro-29a83528/"
            class="icon-link"
            target="blank_"
          >
            <i class="fab fa-linkedin"></i>
          </a>
        </li>
        <li>
          <a
            href="https://www.freecodecamp.org/renzo-c"
            class="icon-link"
            target="blank_"
          >
            <i class="fab fa-xs fa-free-code-camp"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
