<!-- Bottom nav -->
<footer>
<% if ( title == "Home" ) { %>
  <nav class="navbar fixed-bottom navbar-dark bg-dark">
<%} else {%>
  <nav class="navbar navbar-dark bg-dark">
<% } %>
    <h6 class="display-6 navbar-text">&copy; 2021. All Rights reserved</h6>
  </nav>
</footer>