<div class="d-flex flex-column align-items-center" style="width: 280px">
  <div class="icon-container rounded-lg">
    <i class="service-icon <%= icon %> fa-7x"></i>
  </div>
  <h2 class="text-center mt-2"><%= serviceName %></h2>
  <p class="text-center"><%= serviceDescription %></p>
</div>