<!--
 * File name      : index.ejs
 * Student’s Name : Renzo Navarro
 * StudentID      : 301183749
 * Date           : 10/21/2021
-->

<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>
  <!-- Main content -->
<main>
    <div id="particles-js">
      <div id="welcome-section">
        <h6 id="mission" class="font-italic">
          I'm here to help you thrive by building the app that your business needs
        </h6>
        <hr />
        <hr />
        <hr />
        <h1>Hello, I'm <span>Renzo Navarro</span></h1>
        <h6>I am a full-stack software developer</h6>
        <div class="btn-container">
          <a href="/about" class="btn main-btn explore-btn mt-5 py-1 px-5">Explore</a>
        </div>
      </div>
    </div>
</main>
<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>




