<%- include ../partials/header.ejs %> <%- include ../partials/main_nav.ejs %>

<!-- Content for the Add page -->

<main>
  <div class="container user d-flex justify-content user">
    <div class="offset-md-3 col-md-6">
      <h1><% title %></h1>
      <form class="form" method="POST">
        <div class="form-group">
          <label for="nameTextField"> User Email</label>
          <input
            type="text"
            class="form-control"
            id="nameTextField"
            placeholder="Enter the user email"
            name="email"
            required
          />
        </div>
        <div class="form-group">
          <label for="passwordTextField"> User password </label>
          <input
            type="text"
            class="form-control"
            id="passwordTextField"
            placeholder="Enter the user password"
            name="password"
            required
          />
        </div>

        <button class="btn btn-primary" type="submit">
          <i class="fas fa-edit"></i>
          Submit
        </button>
        <a href="/user-list/" class="btn btn-warning">
          <i class="fas fa-undo"></i>
          Cancel
        </a>
      </form>
    </div>
  </div>
</main>

<%- include ../partials/bottom_nav.ejs %> <%- include ../partials/footer.ejs %>
