/**
INDEX
*****
- General Settings
- Palette of colors
- Reusable classes
- Navigation Section
- Welcome Section
- About Section
- Projects Section
- Services Section
- Contact Section
*/

/**
* General Settings
**/
html {
  font-family: "Open Sans", sans-serif;
  color: var(--main-white);
  letter-spacing: 1px;
  scroll-behavior: smooth;
}

/* Palette of colors */
:root {
  --particle-bg: black;
  --secondary-font-color: #fa8f19;
  --main-white: white;
  --nav-bg-color: #060b13;
  --bar-filled-color: #4e7cc6;
  --main-btn-color: #ff4b0d;
  --main-btn-hover-color: #b33910;
}

a {
  text-decoration: none;
}

/**
* Reusable Classes
**/
.btn-container {
  display: flex;
  justify-content: center;
}

.btn {
  display: inline-block;
  color: var(--main-white);
}

.btn-container a {
  font-size: 1.5rem;
  border: 2px solid var(--main-btn-color);
  position: relative;
}

.btn-container a:hover {
  background-color: var(--main-btn-hover-color);
}

.main-btn:active {
  box-shadow: none;
}

/**
* Navigation Section
**/
#logo-image {
  max-width: 100px;
}

/**
* Welcome section
**/
#particles-js {
  background-color: var(--particle-bg);
  position: absolute;
  width: 100%;
  height: 90vh;
}

#welcome-section {
  position: absolute;
  width: 100%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--main-white);
  text-align: center;
}

#welcome-section h1 {
  user-select: none;
}
#welcome-section h6 {
  font-weight: 300;
}

#welcome-section span {
  color: var(--secondary-font-color);
}

.btn-container > a {
  font-size: 15px;
}

.btn-container > a:hover {
  color: var(--main-white);
}

.btn-container > .btn:hover {
  top: -3px;
}

#mission {
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/**
* About section
**/
#about-subcontainer {
  letter-spacing: 1px;
}

#about-details h5 {
  line-height: 30px;
}

.icon-link {
  font-size: 3.5rem;
}

#social-media li {
  list-style-type: none;
}

#social-media i {
  transition: color 650ms, background-color 650ms;
}

.fa-github-square,
.fa-linkedin, .fa-file-code {
  color: var(--nav-bg-color);
}
.fa-free-code-camp {
  background: var(--nav-bg-color);
  color: var(--main-white);
  border-radius: 15%;
}

.fa-free-code-camp:hover {
  background: #007000;
}
.fa-github-square:hover {
  color: #4c3831;
}
.fa-linkedin:hover {
  color: #006bb7;
}
.fa-file-code:hover {
  color: #debd3f
}

/**
* Projects
**/
#projects {
  padding-bottom: 5rem;
}


/**
* Services
**/
#services {
  padding-bottom: 5rem;
}

.service-icon {
padding: 2rem;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  background-color: var(--bar-filled-color);
  margin-right: 2rem;
  margin-left: 2rem;
  margin-top: 5rem;
}

/**
* Contact
**/
#contact {
  padding-bottom: 5rem;
}